.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.left-footer {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.delete-selected {
    background-color: #ff0000;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    height: 2.5rem;
}

.pages {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.page-list button {
    margin: auto 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}
